[Desktop Entry]
Type=Application
Name=Visualize
Comment=Open a randomized terminal audio visualizer
TryExec=cava-random
Exec=ghostty --title=Visualize --class=visualize -e cava-random
Icon=audio-x-generic
Terminal=false
Categories=AudioVideo;Audio;
StartupNotify=true
Keywords=audio;music;visualizer;cava;
