[Desktop Entry]
Type=Application
Name=Visualize
Comment=Open a randomized terminal audio visualizer
TryExec=visualize
Exec=visualize
Icon=audio-x-generic
Terminal=false
Categories=AudioVideo;Audio;
StartupNotify=true
Keywords=audio;music;visualizer;cava;
